.imagenAbsolute {
    position:absolute;
    top: 20%;
    left:-500px;
}


.animarImagen {
    animation: wobble 2s forwards;
}

@keyframes wobble {
    0% {
        transform: translateX(-500px);
    }
    50% {
        transform: translateX(515px);
    }
    100% {
        transform: translateX(515px);
    }
}